* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding-top: 100px;
}

.todo-list {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 0 auto;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-list .title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.todo-list .title-text {
    color: #002765;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.todo-list .note-icon {
    width: 20px;
}

.todo-list .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
    width: 100%;

}


button {
    border: none;
    outline: none;
    background: #ff5945;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    padding: 16px 50px;
    color: #fff;
}

#list-container li {
    position: relative;
    font-size: 17px;
    padding: 12px 8px 12px 43px;
    user-select: none;
    cursor: move;
    border: solid 1px #c7c3c3;
    border-radius: 10px;
    margin-bottom: 10px;
}

#list-container li::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url(imgs/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 8px;
    top: 8px
}

#list-container li.checked {
    color: #555;
    text-decoration: line-through;
}

#list-container li.checked::before {
    background-image: url(imgs/checked.png);
}

#list-container span {
    position: absolute;
    top: 1px;
    right: 0;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #555;
    line-height: 40px;

}

#list-container span:hover {
    background: #edeef0;
}